.navigation{
    padding-bottom: 5px;
    background-color: rgb(54, 152, 218);
    height: 76px;    
    overflow: hidden;
}

.links{
    padding-top: 10px;    
    white-space: nowrap;
    display: flex;
}

.links a{
    padding-right: 20px;
    padding-bottom: auto;
    margin-left: 5px;
    text-align: center;
    height: 60px;
}

.signedIn{
    margin-left: 5px;
    display: flex;
}

.auth{
    margin-left: 250px;
    display: flex;
}

.logo{
    font-family: papyrus;
    font-weight: bold;    
    font-size: medium;
}

.logoImg{
    width: 35px;
    height: 35px;
    margin-left: 50px;
}

.active-nav-item{
    background-color: rgb(14, 121, 192);
    border-radius: 15px;
    margin-bottom: 5px;        
    margin-left: 10px;
}


