.detailsContainer img{
    width: 200px;
    height: 280px;
    margin-left: 30px;
    margin-top: 30px;
}

.detailsContainer{
    display: flex;
    border-bottom: 1px solid rgb(179, 175, 175);
    padding-bottom: 10px;
    margin-left:20px;
    margin-right: 20px;
}

.detailsContainer button{
    background-color: red;
    font-weight: bold;
    width: 30%;
    border-radius: 10px;
    border: none;    
}

.details{
    margin-left: 30px;
    margin-top: 10px;
    display: grid;
}

.details h2{
    margin-bottom: 0px;
    width: 80%;
}

.details h3{
    margin-bottom: 0px;
    margin-top: 0px;
    width: 80%;
}

.details span{
    font-weight: bold;
}

.bookDescription{
    width: 50%;
    margin-top: 10px;
    margin-left: 20px;
}

.reviews{
    display: flex;
}

.reviewsList{
    width: 50%;
    margin-left: 20px;
}

.rviewForm{
    width: 50%;
}