.detailsContainer img{
    width: 200px;
    height: 280px;
    margin-left: 30px;
    margin-top: 30px;
}

.detailsContainer{
    display: flex;
    border-bottom: 1px solid rgb(179, 175, 175);
    padding-bottom: 10px;
    margin-left:20px;
    margin-right: 10px;
}

.detailsContainer button{
    background-color: red;
    font-weight: bold;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border: none;    
}

.details{
    margin-left: 30px;
    margin-top: 10px;
    display: grid;
    height: 320px;
    width: 300px;
}

.details h2{
    margin-bottom: 0px;
    width: 80%;
}

.details h3{
    margin-bottom: 0px;
    margin-top: 0px;
    width: 80%;
}

.bookInfo{
    font-weight: bold;
}

.bookDescription{
    width: 50%;
    margin-top: 10px;
    margin-left: 30px;
}

.reviews{
    display: flex;
}

.reviewsList{
    width: 50%;
    margin-left: 20px;
}

.rviewForm{
    width: 50%;
}

.reatingInfo{
    font-size: small;
}

.reviewFormContainer{
    margin: 10px;
    margin-left: 40px;
}

.reviewFormContainer button{
    background-color: gray;
    font-weight: bold;
    width: 60px;
    height: 30px;
    border-radius: 10px;
    border: none;
}

.reviewFormContainer textarea{
    resize:none;
}