.genres{
    width: 180px;
    height: 580px;
    margin: 30px;   
    background-color: rgb(238, 229, 229);
    border-radius: 15px;
    padding: 10px;
}

.genres h2{
    text-align: center;
}

.genresList{
    list-style-type: none;
    font-weight: bold;
    padding-right: 60px;
    width: 200px;
}

.genresList li{
    margin-bottom: 5px;
}

.genresList a{
    text-decoration: none;
    color: black;
}

.selected{
    background-color: rgb(164, 167, 168);
    border-radius: 5px;
    padding: 5px;
}
