.reviewContainer{
    background-color: rgb(238, 229, 229);
    padding: 5px;
    margin: 10px;
    border-radius: 15px;
}


.reviewSettings{
    float: right;
}

.reviewSettings button{
    margin-right: 5px;
    text-decoration: none;
}