.book{
    margin: 20px;
    background-color: rgb(240, 232, 220);
    padding: 5px;
    position: relative;
}

.book img{
    width: 100px;
    height: 140px;
    margin-left: 26%;
}

.book a{
    position: absolute;
    bottom: 0;
    left: 35%;
    text-decoration: none;

}

.btn{
    background-color: red;
    color: white;
    font-size: large;
    padding-left:5px;
    padding-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;    
}

.bookTitle{
    font-weight: bold;
}

.rating{
    margin-left: 40px;
    margin-bottom: 15px;;
}

